body {
    max-width: 600px;
    margin: 0 auto;
}

.card {
    background-color: antiquewhite;
    padding: 8px;
    margin: 16px auto;
    
}

.card .title{
    background-color: lightblue;
    font-size: 32px;
    padding: 8px;
    margin: 8px;
}

.card .content{
    background-color: lightblue;
    padding: 16px 8px;
    margin: 8px;
}

.card .button-container {
    background-color: lightblue;
    text-align: center;
    margin: 8px;
    padding: 8px;
}

.button-container button {
    display: block;
    margin: 0 auto;
    padding: 8px 24px;
}