body {
    background-color:lightsteelblue;
}
.menu-container {
    display: flex;
    margin: 15px;
    border: 5px solid steelblue;
    font-size: 20px;
}
.home {
    background-color:rgb(55, 107, 55) ;
    padding: 20px;
    color:aliceblue;
}
.search {
    background-color:rgb(146, 34, 34) ;
    padding: 20px;
    color: aliceblue;
}
.logout {
    background-color:rgb(55, 107, 55) ;
    padding: 20px;
    color:aliceblue;
}
.home,
.search,
.logout {
    text-align: center;
    flex: 1;
}